---
title: "Visual Studio Yük testi sonuçlarını karşılaştırma | Microsoft Docs"
ms.date: 10/19/2016
ms.topic: article
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: ghogen
ms.technology: vs-ide-test
ms.openlocfilehash: 2323943ed56c4be3d57f63ce94ddf66cdbc36f15
ms.sourcegitcommit: 900ed1e299cd5bba56249cef8f5cf3981b10cb1c
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 03/19/2018
---
# <a name="reporting-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Test Karşılaştırmaları veya Eğilim Analizleri için Yük Testi Sonuçlarını Raporlama

İki veya daha fazla test sonuçlarına bağlı Microsoft Excel yük testi raporları oluşturabilirsiniz. Yük testi raporları iki tür mevcuttur:

- Karşılaştırma çalıştırmak&mdash;tabloları ve çubuk grafikler kullanarak yan yana karşılaştırma verileri görüntülemek gerçekte iki rapor bu rapor eder.

- Eğilim&mdash;eğilim analizi iki veya daha fazla raporları oluşturabilirsiniz. Sonuçlar, çizgi grafiklerde kullanarak görüntülenir.

Her iki raporu Paydaşlar ile performans verileri paylaşabilir ve genel performans ve sistem durumunu mdan olup olmadığını daha iyi iletmek için kullanılan ya da daha da kötüsü.

Rapor tanımları yük testi veritabanında depolanır. Bir rapor kaydedildiğinde, rapor tanımı veritabanına kaydedilir ve daha sonra yeniden kullanılabilir.

Ayrıca, böylece Paydaşlar raporu görmek için veritabanına bağlanmak zorunda değilsiniz elektronik tablo dosyası Paydaşlar ile paylaşılabilir.

> [!NOTE]
> Bir yük testine açıklama eklerseniz, Excel raporunda görünürler. Daha fazla bilgi için bkz: [nasıl yapılır: yük testi tamamlandı Çözümleme sırasında açıklamaları ekleme](../test/how-to-add-comments-on-a-completed-load-test.md).

## <a name="tasks"></a>Görevler

|Görevler|İlgili Konular|
|-----------|-----------------------|
|**Başarım ve stres rapor oluşturmak:** Microsoft Excel kullanarak yük ve Web performans testleri üzerinde raporlar oluşturabilirsiniz.|- [Nasıl yapılır: Microsoft Excel kullanarak yük testi başarım raporları oluşturma](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Microsoft Word kullanarak el ile bir performans ve stres rapor oluşturmak:** raporlarını yükleme ve Web performans testleri üzerinde el ile Özet, tablo ve grafik verilerini bir Microsoft Word belgesine yapıştırarak oluşturabilirsiniz.|- [Nasıl yapılır: Microsoft Word kullanılarak bir yük testi başarım raporunu el ile oluşturma](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Ayrıca bkz.

- [Yük testi sonuçlarını çözümleme](../test/analyze-load-test-results-using-the-load-test-analyzer.md)