---
title: Visual Studio Yük testi sonuçlarını karşılaştırma
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: a23c6da2f27ef5b25d33caa3a464ec0f4018b40b
ms.sourcegitcommit: 4667e6ad223642bc4ac525f57281482c9894daf4
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 06/20/2018
ms.locfileid: "36280525"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Test karşılaştırmaları veya eğilim analizleri için sonuçları rapor yük testleri

İki veya daha fazla test sonuçlarına bağlı Microsoft Excel yük testi raporları oluşturabilirsiniz. Yük testi raporları iki tür mevcuttur:

- Karşılaştırma çalıştırmak&mdash;tabloları ve çubuk grafikler kullanarak yan yana karşılaştırma verileri görüntülemek gerçekte iki rapor bu rapor eder.

- Eğilim&mdash;eğilim analizi iki veya daha fazla raporları oluşturabilirsiniz. Sonuçlar, çizgi grafiklerde kullanarak görüntülenir.

Her iki raporu Paydaşlar ile performans verileri paylaşabilir ve genel performans ve sistem durumunu mdan olup olmadığını daha iyi iletmek için kullanılan ya da daha da kötüsü.

Rapor tanımları yük testi veritabanında depolanır. Bir rapor kaydedildiğinde, rapor tanımı veritabanına kaydedilir ve daha sonra yeniden kullanılabilir.

Ayrıca, böylece Paydaşlar raporu görmek için veritabanına bağlanmak zorunda değilsiniz elektronik tablo dosyası Paydaşlar ile paylaşılabilir.

> [!NOTE]
> Bir yük testine açıklama eklerseniz, Excel raporunda görünürler. Daha fazla bilgi için bkz: [nasıl yapılır: tamamlanmış bir yük testi çözümlenirken açıklama ekleme](../test/how-to-add-comments-on-a-completed-load-test.md).

## <a name="tasks"></a>Görevler

|Görevler|İlgili Konular|
|-----------|-----------------------|
|**Başarım ve stres rapor oluşturmak:** Microsoft Excel kullanarak yük ve Web performans testleri üzerinde raporlar oluşturabilirsiniz.|- [Nasıl yapılır: oluşturmak yük testi başarım raporları Microsoft Excel kullanarak](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Microsoft Word kullanarak el ile bir performans ve stres rapor oluşturmak:** raporlarını yükleme ve Web performans testleri üzerinde el ile Özet, tablo ve grafik verilerini bir Microsoft Word belgesine yapıştırarak oluşturabilirsiniz.|- [Nasıl yapılır: Microsoft Word kullanılarak bir yük testi başarım raporunu el ile oluşturma](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Ayrıca bkz.

- [Yük testi sonuçlarını çözümleme](../test/analyze-load-test-results-using-the-load-test-analyzer.md)