---
title: 'Nasıl yapılır: Visual Studio Yük testi sonuçlarında özel grafikler oluşturma | Microsoft Docs'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: gewarren
ms.author: gewarren
manager: douge
ms.technology: vs-ide-test
ms.openlocfilehash: 38249ef2a655f2dc30ad5536f1d47f94cff54181
ms.sourcegitcommit: 6a9d5bd75e50947659fd6c837111a6a547884e2a
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 04/16/2018
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Nasıl yapılır: Yük Testi Sonuçlarında Özel Grafikler Oluşturma

Yük testi sonuçlarını hakkındaki belirli bilgileri görüntülemek grafikleri tasarlayabilirsiniz. Özel bir grafik grafiği görüntüler yük testi sayaçlarını belirleyerek tasarlayın.

 Bir yük testi çalışırken veya çalışması bittikten sonra aşağıdaki yordamı gerçekleştirebilir.

## <a name="to-create-a-custom-load-test-results-graph"></a>Özel yük testi sonuçları grafiği oluşturmak için

1.  Yük testi araç çubuğunda seçin **yeni grafik Ekle**.

     \- veya -

     Yük Testi Çözümleyicisi Sayaçlar panelini veya grafiğe sağ tıklayın ve ardından **Grafik Ekle**.

     **Grafik adı girin** iletişim kutusu görüntülenir.

2.  Altında **grafik adı**grafiği için bir ad yazın ve seçin **Tamam**.

     Yeni bir grafik Yük Testi Çözümleyicisi'nde görüntülenir. Şu anda seçili grafik panelinde görüntülenir; panelde görüntülenen grafiği değiştirir.

3.  Yeni bir grafik sayaçları ekleyerek özelleştirin. Daha fazla bilgi için bkz: [nasıl yapılır: grafiklerde sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Ayrıca bkz.

- [Grafik görünümünde yük testi sonuçlarını çözümleme](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Nasıl yapılır: grafiklerde sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)